spring:
  application:
    name: serviceContact
  datasource:
    url: jdbc:postgresql://localhost:5432/servicecontactdb
    username: postgres
    password: Raimat@2809
    driver-class-name: org.postgresql.Driver

    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
  server:
    port: 8080